html, body {
    height: 100%;
}

.navBar {
    height: 10%;
}

.buttonNav {
    height: max-content;
}

.mainWindow {
    height: 90%;
}

p {
    font-weight: bold;
    font-size: 18px;
}

#butUser {
    background-color: lightblue;
    border: solid black 1px;
} #butUser:hover {
    background-color: lightsalmon;
}

#butCreate {
    background-color: lightgreen;
    border: solid black 1px;
} 

#butCreate:hover {
    background-color: lightsalmon;
}

#butSignOut {
    background-color: indianred;
    border: solid black 1px;
} 

#butSignOut:hover {
    background-color: lightsalmon;
}

a {
    text-decoration: none;
    color: black;
}

th, td {
    vertical-align: middle;
}

#butModify {
    /*background-color: #ffc107;*/
   /* border: solid black 2px;*/
     background-color: white;
    border: solid lightgrey 2px;
} 

#butModify:hover {
    /*background-color: #be950c;*/
    background-color: lightgrey;
    border: solid lightgrey 2px;
}

#butRemove {
    /*background-color: #dc3545;*/
    /* border: solid black 2px;*/
    background-color: white;
    border: solid lightgrey 2px;
} 

#butRemove:hover {
   /* background-color: #6f1d25;*/
   background-color: lightgrey;
    border: solid lightgrey 2px;
}

/*
128578  --high
128528 --mid
128577 --low

8592 --back
8656 --back
8701 --back
*/