html, body {
    height: 100%;
}

label {
    margin: 5px 0px 5px 0px;
}

input {
    max-width: 240px;
    margin-bottom: 10px;
}

span {
    color: red;
    font-size: 12px;
}

a {
    margin: 3px 0px -5px 0px; 
}

th, td {
    vertical-align: middle;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.maxlargeur{
    width: 100%;
}