html, body {
    height: 100%;
}

label {
    margin: 5px 0px 5px 0px;
}

input {
    max-width: 240px;
    margin-bottom: 10px;
}

span {
    color: red;
    font-size: 12px;
}

a {
    margin: 3px 0px -5px 0px; 
}

th, td {
    vertical-align: middle;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.maxlargeur{
    width: 100%;
}

.top-left{
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}

input{
    max-width: 100%;
}

.test99{
    flex: 1;
    justify-content: center;
    align-items: center;
}

.test1{
    height: auto;
}

#butBack {
    background-color: lightcoral;
    border: solid black 1px;
}

#butBack:hover {
    background-color: lightsalmon;
}

#butBack a {
    text-decoration: none; 
    color: black; 
}








.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }