html, body {
    height: 100%;
    background-color: lightblue;
}

.mainText {
    font-size: 67px;
    font-weight: bold;
}

.rows {
    height: 33%;
    justify-content: space-evenly;
    background-color: lightblue;
}

img {
    margin: 15px;
    max-width: 200px; 
    height: auto; 
}


