a {
    margin: 3px 0px -5px 0px; 
}

label {
    margin: 5px 0px 5px 0px;
}

input {
    max-width: 240px;
    margin-bottom: 10px;
}

span {
    color: red;
}

td, th{
    vertical-align: middle !important;
}

img {
    height: 150px;
    width: 150px;
}
